.article {
	box-shadow: 0px 0px 6px 4px rgb(66, 66, 66);
	background-color: rgba(169, 115, 182, 0.6);
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
	max-width: 40rem;
	min-width: 28rem;
	min-height: 15rem;
	gap: 2rem;
}

.article_title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 2.5rem;
	font-style: bold;
	color: white;
	margin-bottom: 0.5rem;
}

.article_text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 1.7rem;
	color: white;
	letter-spacing: 0.05rem;
}
