* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(19, 19, 19);
}

/* forelder til ul-listen og h1-tittelen */
/* .app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	min-height: 100vh;
	width: 100vw;
	background-color: rgb(14, 14, 14);
} */
/*
.appWrapper {
	max-width: 1100px;
	min-height: 100vh;
	flex: 1;
	margin: 0 auto;
	background-color: rgb(12, 12, 12);
	padding: 0 20px;
	box-sizing: border-box;
} */

/* BROKEN ANIMATION ON H1 TITLE WITH MY NAME ------------------------------------------------------------------------ */
.intro_screen__title {
	font-size: 2.5rem;
	box-shadow: 0px 0px 50px 0px rgb(71, 71, 71);
	border-radius: 0.3rem;
	padding: 1rem;
	margin-top: 15rem;
	color: rgb(240, 240, 240);
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	animation: typing-html 0.8s steps(10, end) forwards;
}

@keyframes typing-html {
	from {
		width: 0;
	}
	to {
		width: 17;
	}
}

/* --------------------------------------------------------------------------------------------------------------- */

.parallax_wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
	/* z-akse = fram og tilbake, 3D inn og ut, e kameraet nært eller langt unna, kor vi ser det fra */
	/* max-width: 1100px; */
	/* min-width: 1100px; */
	min-height: 100vh;
	/* flex: 1; */
	margin: 0 auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.parallax_wrapper::-webkit-scrollbar {
	display: none;
}

main {
	position: relative;
	display: contents; /* pretend main is not here */
}

/* HEADER SECTION WITH PICTURE */
.parallax_group.intro_screen {
	height: 80vh;
	background-color: rgb(24, 24, 24);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./assets/meg4.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 10px 5px rgb(37, 37, 37);
}

.parallax_group.outro_screen {
	height: 80vh;
	background-color: rgb(114, 114, 114);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ALT ER OK SÅ LANGT*/

.parallax_group {
	position: relative;
	/* pos. er relativ til page, senere skal vi ha komponenter som har position absolute inni her - parallax-group wrapper disse komponentene*/
	height: 70vh;
	transform-style: preserve-3d;
	/* width: 100%; */

	/* når vi gir siden depth fra kamera-perspektivet vi har valgt, tar den avre å¨det 3D perspektivet fordi noen nettlesere gjør det flatt  */
}

.parallax_group .parallax_layer {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.base_layer {
	transform: translateZ(-200px) scale(2);
	/* width: 100vw; */
	left: 0;
	right: 0;
}

.mid_layer {
	transform: translateZ(
		0
	); /* flyttes ikke noen steder, scroller like  fort som vi scroller*/
}

.top_layer {
	transform: translateZ(200px) scale(0.3);
	z-index: 999;
	/* funke ikke */
}

.top-layer__text {
	font-size: 2rem;
	color: rgb(241, 241, 241);
}

/* .top-layer__blob {
	width: 400px;
	height: 400px;
} */

/* BLOB SECTION GROUP 1 -- BASE LAYER  */

.blob_section {
	display: flex;
	width: 50%;
	height: 50%;
}

.blob_section img:nth-child(1) {
	align-self: flex-start;
	order: 1;
}

.blob_section img:nth-child(2) {
	align-self: flex-end;
	order: 2;
	transform: scale(1.5);
	margin-left: 3rem;
}
.blob_section img:nth-child(3) {
	align-self: flex-start;
	order: 3;
	margin-left: auto;
	transform: scale(1);
}

.base_layer .blob_section img {
	/* transform: scale(0.8); */
	max-width: 200px;
}

/* BLOB SECTION GROUP 3 -- BASE LAYER  */

.blob_section-2 {
	display: flex;
	width: 50%;
	height: 50%;
}

.blob_section-2 img:nth-child(1) {
	align-self: flex-end;
	order: 1;
	transform: scale(1.2);
}

.blob_section-2 img:nth-child(2) {
	align-self: flex-start;
	order: 2;
	transform: scale(1.2);
}
.blob_section-2 img:nth-child(3) {
	align-self: flex-end;
	order: 3;
	transform: scale(1.2);
}

.blob_section-2 img:nth-child(4) {
	align-self: flex-start;
	transform: scale(1.6);
	order: 4;
	margin-left: auto;
}

.base_layer .blob_section-2 img {
	/* transform: scale(0.8); */
	max-width: 200px;
}

/* BLOB MOVEMENT */

@keyframes floatAndBreathe {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(20px) scale(1.08);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

.blob_section img,
.blob_section-2 img {
	animation-name: floatAndBreathe;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.blob_section__blob1 {
	animation-delay: 0s;
}

.blob_section__blob2 {
	animation-delay: 3s;
}

.blob_section__blob3 {
	animation-delay: 13s;
}

.blob_section__blob4 {
	animation-delay: 1s;
}
.blob_section__blob5 {
	animation-delay: 5s;
}
.blob_section__blob6 {
	animation-delay: 9s;
}

/* BLOB SECTION -- DONE  */

#intro {
	z-index: 0;
}

#group-1 {
	z-index: -1;
	height: 85vh;
}

#group-2 {
	height: 80vh;
}

#group-1 > .base_layer {
	background-color: rgb(8, 8, 8);
}

#group-2 > .mid_layer {
	background-color: rgb(48, 48, 48);
	/* padding-bottom: 20rem; */
}

#group-2 .mid_layer .infoContainer {
	margin-top: -25rem;
}

#group-3 .mid_layer .infoContainer {
	margin-top: 1rem;
}

#group-3 > .base_layer {
	background-color: rgb(8, 8, 8);
}

/* .mainContainer {
	width: 100%;
} */

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: rgb(241, 241, 241);
	background-color: rgba(169, 115, 182, 0.6);
}

h2 {
	color: rgb(241, 241, 241);
}
