* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(8, 8, 8);
}

/* BROKEN ANIMATION ON H1 TITLE WITH MY NAME ------------------------------------------------------------------------ */
.intro_screen__title {
	font-size: 2.5rem;
	box-shadow: 0px 0px 50px 0px rgb(71, 71, 71);
	border-radius: 0.3rem;
	padding: 1rem;
	margin-top: 15rem;
	color: rgb(240, 240, 240);
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	animation: typing-html 0.8s steps(10, end) forwards;
}

@keyframes typing-html {
	from {
		width: 0;
	}
	to {
		width: 17;
	}
}

/* --------------------------------------------------------------------------------------------------------------- */

.parallax_wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
	min-height: 100vh;
	margin: 0 auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.parallax_wrapper::-webkit-scrollbar {
	display: none;
}

/* STAR ANIMATION IF IT WORKS */

.parallax_wrapper > .stars-container {
	pointer-events: none;
}
.star {
	position: absolute;
	width: 2px;
	height: 2px;
	background: rgb(247, 247, 247);
	border-radius: 50%;
	z-index: 5;
	animation: twinkle infinite alternate;
}

@keyframes twinkle {
	from {
		opacity: 0.2;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1.5);
	}
}

main {
	position: relative;
	display: contents; /* pretend main is not here */
}

/* HEADER SECTION WITH PICTURE */
.parallax_group.intro_screen {
	height: 80vh;
	background-color: rgb(24, 24, 24);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./assets/meg4.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 10px 5px rgb(37, 37, 37);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}

.parallax_group.outro_screen {
	height: 20rem;
	background-color: rgb(114, 114, 114);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-style: italic;
	z-index: 6;
}

.parallax_group.outro_screen {
	height: 20rem;
	margin-top: 12rem;
}

.parallax_group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

.parallax_group .parallax_layer {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	min-width: 1100px;
	margin: 0 auto;
}

.base_layer {
	transform: translateZ(-200px) scale(2);
	left: 0;
	right: 0;
}

.mid_layer {
	transform: translateZ(
		0
	); /* flyttes ikke noen steder, scroller like  fort som vi scroller*/
}

.top_layer {
	transform: translateZ(200px) scale(0.3);
	z-index: 999;
	/* funke ikke */
}

.top-layer__text {
	font-size: 2rem;
	color: rgb(241, 241, 241);
}

/* BLOB SECTION GROUP 1 -- BASE LAYER  */

.blob_section,
.blob_section-2,
.blob_section-3,
.blob_section-4,
.blob_section-5 {
	display: flex;
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100vw;
}

.blob_section img:nth-child(1) {
	align-self: flex-start;
	order: 1;
}

.blob_section img:nth-child(2) {
	align-self: flex-end;
	order: 2;
	transform: scale(1.5);
	margin-left: 3rem;
}
.blob_section img:nth-child(3) {
	align-self: flex-start;
	order: 3;
	margin-left: auto;
	transform: scale(1);
}

/* BLOB SECTION GROUP 3 -- BASE LAYER  */

/* .blob_section-2 {
	display: flex;
	width: 50%;
	height: 50%;
} */

.blob_section-3 img:nth-child(1) {
	align-self: flex-end;
	order: 1;
	transform: scale(1.2);
}

.blob_section-3 img:nth-child(2) {
	align-self: flex-start;
	order: 2;
	transform: scale(1.2);
}
.blob_section-3 img:nth-child(3) {
	align-self: flex-end;
	order: 3;
	transform: scale(1.2);
}

.blob_section-3 img:nth-child(4) {
	align-self: flex-start;
	transform: scale(1.2);
	order: 4;
	margin-left: auto;
}

/* BLOB SECTION GROUP 4 -- BASE LAYER  */
.blob_section-4 img:nth-child(2) {
	align-self: flex-start;
	order: 1;
	transform: scale(1.2);
}
.blob_section-4 img:nth-child(3) {
	align-self: flex-end;
	order: 2;
	transform: scale(1.2);
}
/* BLOB SECTION GROUP 5 -- BASE LAYER  */
.blob_section-5 img:nth-child(2) {
	align-self: flex-start;
	order: 1;
	transform: scale(1.2);
}
.blob_section-5 img:nth-child(3) {
	align-self: flex-end;
	order: 2;
	transform: scale(1.2);
}

/* ALL BLOBS ALL GROUPS SIZE */
.base_layer .blob_section,
.base_layer .blob_section-2,
.base_layer .blob_section-3,
.base_layer .blob_section-4,
.base_layer .blob_section-5 {
	transform: scale(0.5);
	min-width: 100vw;
}

/* BLOB MOVEMENT */

@keyframes floatAndBreathe {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(20px) scale(1.08);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

.blob_section img,
.blob_section-2 img,
.blob_section-3 img,
.blob_section-4 img,
.blob_section-5 img {
	animation-name: floatAndBreathe;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.blob_section__blob1 {
	animation-delay: 0s;
}

.blob_section__blob2 {
	animation-delay: 3s;
}

.blob_section__blob3 {
	animation-delay: 13s;
}

.blob_section__blob4 {
	animation-delay: 1s;
}
.blob_section__blob5 {
	animation-delay: 5s;
}
.blob_section__blob6 {
	animation-delay: 9s;
}
.blob_section__blob7 {
	animation-delay: 13s;
}

/* BLOB SECTION -- DONE  */

/* HEADER SECTION */
#intro {
	z-index: 6;
}

/* RØD */
#group-1 {
	z-index: -1;
	height: 250vh;
	display: flex;
	gap: 2;
}

#group-1 > .parallax_layer.mid_layer {
	overflow: visible;
	padding-bottom: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* BLÅ */
#group-2 {
	height: 180vh;
	z-index: 1;
}

/* GRØNN */
#group-3 {
	height: 160vh;
	z-index: 2;
}

#group-4 {
	height: 140vh;
	z-index: 3;
}

#group-5 {
	height: 120vh;
	z-index: 4;
}

/* ---------------------------------------------------------RØD */
#group-1 > .base_layer {
	transform: translateZ(-300px) scale(2);
	background-color: rgb(8, 8, 8);
	border: 2px solid rgb(107, 0, 0);
}

/* ----------------------------------------------------------BLÅ */
#group-2 > .base_layer {
	transform: translateZ(-300px) scale(2);
	background-color: rgb(8, 8, 8);
	border: 2px solid rgb(14, 8, 102);
}

#group-2 > .mid_layer {
	background-color: rgb(5, 5, 5);
	margin-top: 14rem;
	padding-top: 2rem;
	height: 50%;
	background: linear-gradient(to right, #b41336, #6439b3);
}

.TEST-TXT-GROUP-2 {
	color: white;
	font-size: 3rem;
	margin-bottom: 18rem;
}

#group-3 .mid_layer .infoContainer {
	margin-bottom: 80rem;
}

/* -----------------------------------------------------------GRØNN */
#group-3 > .base_layer {
	background-color: rgb(8, 8, 8);
	border: 2px solid rgb(5, 41, 8);
	transform: translateZ(-300px) scale(2);
}

/*------------------------------------------------------------ GUL */
#group-4 > .base_layer {
	background-color: rgb(8, 8, 8);
	border: 2px solid rgb(47, 48, 5);
	transform: translateZ(-300px) scale(2);
}

#group-4 .mid_layer .infoContainer {
	margin-bottom: 70rem;
}

/* ----------------------------------------------------------- ORANSJE  */

#group-5 .mid_layer .infoContainer {
	margin-bottom: 10rem;
}

#group-5 {
	position: relative;
	height: 80vh;
	z-index: 4;
}

#group-5 > .base_layer {
	background-color: rgb(8, 8, 8);
	border: 2px solid rgb(61, 28, 5);
	transform: translateZ(-300px) scale(2);
}

#group-5 > .mid_layer {
	transform: translateZ(-150px) scale(1.5);
}

#group-5 > .top_layer {
	transform: translateZ(0px) scale(1);
}

/* ------------------------------------ FOOTER HERE -------------------------------------- */

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: rgb(241, 241, 241);
	background-color: rgba(169, 115, 182, 0.6);
}

h2 {
	color: rgb(241, 241, 241);
}
